*{
    margin:0;
    padding:0;
    font-family: consolas;
    user-select: none;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background: #f8f8f8;
}
.inputbox{
    position: relative;
    width:450px;
}
.inputBox h2{
    font-size:28px;
    color:#333;
    text-align:center;
}
.inputBox input{
    position: relative;
    width:100%;
    height:60px;
    border:none;
    margin:15px 0 20px;
    background: transparent;
    outline:none;
    padding:0 20px;
    font-size:24px;
    letter-spacing: 4px;
    box-sizing: border-box;
    border-radius: 8px;
    color:#333;
    box-shadow:-4px -4px 10px rgba(255,255,255,1),
               inset 4px 4px 10px rgba(0,0,0,0.10),
               inset -4px -4px 10px rgba(255,255,255,1),
                4px 4px 10px rgba(0,0,0,0.10);
}
.inputBox input::placeholder{
    letter-spacing: 0px;
}
.inputBox #gen-button{
    position: relative;
    cursor:pointer;
    color:rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    font-size: 24px;
    display:inline-block;
    padding:10px 15px;
    border-radius:8px;
    text-align:center;
    box-shadow:0px 0px 10px rgba(255,255,255,1),
               inset 4px 4px 10px rgba(0,0,0,0.12),
               inset -4px -4px 10px rgba(255,255,255,1),
                4px 4px 10px rgba(0,0,0,0.30);
}
.inputBox #gen-button:active{
    background: rgb(100, 185, 241);
}

.cards{
    padding:40px 10px;
    border-radius:8px;
    background:linear-gradient(to right,rgb(224, 238, 225),rgb(100, 185, 241));
    box-shadow:-4px -4px 10px rgba(255,255,255,1),
               inset 4px 4px 10px rgba(0,0,0,0.12),
               inset -4px -4px 10px rgba(255,255,255,1),
                4px 4px 10px rgba(0,0,0,0.30);
    
}